html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #0d192b;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8bacda;
  padding: 24px 62px;
}

@media screen and (min-width: 999px) {
  section {
    padding: 152px 500px;
  }
}

section div {
  background-color: #14253d;
  border-radius: 15px;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Outfit", sans-serif;
  line-height: 1.6;
}

section div img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
}

section div img:hover {
  opacity: 0.3;
  cursor: pointer;
}

section div h2 {
  font-weight: 700;
  margin: 0;
  margin-bottom: 21px;
  color: #ffffff;
}

section div h2:hover {
  color: #00fff7;
}

@media screen and (min-width: 999px) {
  section div h2 {
    margin-bottom: 24px;
  }
}

section div p {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

@media screen and (min-width: 999px) {
  section div p {
    font-size: 18px;
  }
}

section div .data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 0px;
  gap: 36px;
}

@media screen and (min-width: 999px) {
  section div .data {
    gap: 113px;
  }
}

section div .data-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 35px;
  padding-top: 24px;
  padding-bottom: 24px;
}

@media screen and (min-width: 999px) {
  section div .data-item {
    padding-top: 30px;
  }
}

section div .data-item img {
  margin-right: 10px;
}

section div .data-item span {
  line-height: 1.5;
  font-size: 12px;
  color: #00fff7;
}

section div .data-item #ethereum {
  width: 11px;
  height: 18px;
}

section div .data-item #clock {
  width: 17px;
  height: 17px;
}

section div hr {
  margin: 0;
  margin-bottom: 16px;
  background-color: #2f415b;
  border: none;
  height: 1px;
}

section div .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0px;
}

section div .author img {
  height: 33px;
  width: 33px;
  margin-right: 16px;
}

section div .author p {
  font-size: 16px;
  line-height: 1.5;
}

section div .author p span {
  color: #ffffff;
}

section div .author p span:hover {
  color: #00fff7;
}
/*# sourceMappingURL=style.css.map */